body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #009432;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes sure your content fits in the viewport height */
    overflow: hidden; /* Prevents scrolling */
}

h1 {
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

header {
    height: 30vh;
    background-color: white;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1552423316-be19a6e4e9f9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center 50%;
    margin: 0; /* Removes margin for tighter fit */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjusted to fill the remaining space */
}

footer {
    background-color: black;
    height: 10vh; /* Adjust footer height */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Ensure footer text is visible */
}

#prayerTimes {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: rgba(58, 58, 58, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#prayerTimes {
    animation: slideIn 1s ease-out;
}

.location-display {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

form {
    margin: 20px auto;
}

label, input[type="text"] {
    margin-right: 10px;
}
